body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, #0f172a, #2045ed);
  color: white;
  overflow: hidden;
}

.container {
  height: 100vh;
  text-align: center;
  padding-top: 20px;
}

.box {
  position: absolute;
  width: 80px;
  height: 80px;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
  transition: top 0.4s ease, left 0.4s ease;
  user-select: none;
}

.box:hover {
  transform: scale(1.1);
}
